.Header
{
    text-align: center;
}

small
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.img-styles
{
    width: 50px;
}

.Card-styles
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}